body{
    overflow: hidden;
}

#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .logo{
    padding: .875rem 1.25rem;
    width: 10rem;
    img{
        width: 70%;
    }
}

#sidebar-container .menu{
    background-color: greenyellow;
    width: 10rem;
    text-align: center;
    img{
        width: 60%;
        margin: auto;
    }
}

#datos_tarjeta{
    width: 80%;
}

#nombre_cabecera{
    font-size: 30px;
    font-weight: bold;
}